.offers {
  // border: solid 10px red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

img {
  width: 195px;
  height: 325px;
  object-fit: cover;
}

.articles {
  // border: solid 8px green;
  margin: 5px;
}

.button-pagination {
  display: flex;
  justify-content: center;
  button {
    background-color: #037682;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    margin: 0 5px;
  }
}
