.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.form-signup {
  height: 387px;
  width: 375px;
  border: solid 2px #037682;
  padding: 20px;
  .title {
    // background-color: pink;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 1rem;
    }
  }
}
.submit {
  background-color: #037682;
  border-radius: 4px;
  border: none;
  color: white;
}

.form {
  //   background-color: rgb(176, 112, 123);
  display: flex;
  justify-content: center;
  border-radius: 3px;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
  }
  input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 16px;
    border-radius: 3px;
    border: none;
  }
}
